
  ul {list-style-type: none;}

  .mat-checkbox {
    width: 100%
  }

  ::ng-deep .mat-checkbox-layout {
    width: 100%
  }
  
 ::ng-deep .mat-checkbox .mat-checkbox-label {
    width: 100%;
  }

  .label-row {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: medium;
    margin: 0 10px 0 10px;
    .category {
        color: green; 
        font-size: small
    }
  }

  .data-row {
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    .done {
        opacity: 60%;
    }
    .clear {
        color: green;
    }
  }